html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************MEDIA QUERIES***********************/
#header {
  position: relative;
  background: url("header_picture.png") no-repeat 0 0 transparent;;
  width:100%;
  height:1000px;
  vertical-align: top;

}
#header::after {
  background: transparent;
  background: -webkit-linear-gradient(90deg,rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  background: -moz-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  background: -ms-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  content: "";
  display: block;
  position:absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
}

.title {
  text-align: center;
  color: white;
  margin-top: 150px;
}

.center {
  margin-left: 360px;
  margin-right:  360px;
  height: inherit;
  position:absolute;
  z-index: 10;
  right:0px;
  left:0px;
}
.Creative_Template {
  font-size: 72px;
  font-family: "Kaushan Script";
}
.Welcome{
  font-size: 150px;
  font-family: "Montserrat Bold";
  font-weight: bold;
  margin-top: 26px;
}
.MoGo {
  font-size: 30px;
  font-family: "Montserrat Bold";
  color: white;
  font-weight: bold;
  text-align: left;
  position:absolute;
  margin: 20px;
  margin-left: 0px;

}
div .menu {
  text-align: right;

}
ul .menu {
  font-family: "Montserrat Regular";
  color:white;
  text-transform: uppercase;
  right:0%;
  display:inline-block;
  padding-bottom: 14px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 0px;

}
.top-hov {
  font-size: 14px;
  color: white;
  padding-right: 15px;
}
ul .menu :hover{
  color: rgb(252,227,138);
}

.fa {
  height: 14px;
  color: white;
}

.fa :hover{
  Height: 14px;
  color: rgb(252,227,138);
  font-weight: lighter;

}
.line {
  margin: 0 auto;
  width: 74px;
  border-top: 3px solid white;
}
.learn_more{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat Regular";
  color: white;
  border: 3px solid white;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 110px
}
@font-face {
  font-family: "Kaushan Script";
  src:url(KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src:url(Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat Regular";
  src:url(Montserrat-Regular.ttf);
}
